## Please check .prettierignore and .gitignore when changing this file

## file extensions
*.*
!*.css
!*.js
!*.json
!*.jsx
!*.less
!*.ts
!*.tsx
!*.yml

## copied from .gitignore

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory
coverage/

# Compiled directory
build/

# Dependency directories
node_modules/

# dotenv environment variables file
.env

## shared between eslint and prettier
public/
